<!DOCTYPE html>
<html>
    <head>
      <title>NodeStarter</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
      <link type="text/css" rel="stylesheet" href="/css/app.css">
  </head>
<body>
      <section class="app">
