<% include ./partials/home_header.ejs %>

<section class="hero is-medium">
		<div class="container has-text-centered">
				<div class="columns is-vcentered">
						<div class="column is-5">
								<figure class="image">
										<img src="/images/garden_homepage.png" />
								</figure>
						</div>
						<div class="column is-6 is-offset-1">
								<h1 class="title is-2">
										NodeStarter
								</h1>
								<h2 class="subtitle is-4"><br>
										Value proposition description goes here
								</h2>
								<br>
								<p class="has-text-centered">
									<a href="/signup", class='button is-medium is-outlined'>Get Started</a>
								</p>
						</div>
				</div>
			</div>
		</section>
		<section style="background-color: #fafafa" class="section value content">
			<div class="container text-centered">
				<div class="columns is-vcentered">
					<div class="column">
						<h3 class="title is-3">Heading 1</h3></br>
							<p class="subtitle">Description 2 goes here

						 </p>
					</div>
					<div class="column">
						<h3 class="title is-3">Heading 2s</h3></br>
							<p class="subtitle">Description 3 goes here.</p>
				</div>
			</div>
		</div>
	</section>
<footer class="footer">
	<div class="container">
		<div class="columns">
			<div class="column is-6 footer_logo">
				<img src="/images/garden_64_2.png" />
			</div>
			<div class="column is-6">
				<div class="content">
					<p><strong>Gardens</strong> by Tim Pittman</p>
					<p>tim.pittman021@gmail.com</p>
					<p><a href="https://twitter.com/pittman021">@pittman021</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>

<% include ./partials/footer.ejs %>
